/* index.css */

/* Reset default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply basic styles to the root element */
html,
body {
  height: 100%;
}

/* Set base font size and color */
html {
  font-size: 16px;
  color: #333;
}

/* Main container styles */
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
